* {
  overflow-x: visible;
}
.subnavbar {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.progress_bar {
  padding: 0 15em 1em 15em;
}
.progress_bar div {
  border-bottom: solid 0.3rem black;
  margin-top: -3em;
}
.progress_bar div img {
  position: relative;
  top: 3.75rem;
}

.font_weight_600 {
  font-weight: 600;
}
.font_size {
  font-size: 27px;
}
.font_color_red {
  color: #e03111;
}
.font_colo_blue {
  color: #4263eb;
}
.font_color_green {
  color: #00934c;
}
.nav-text {
  font-weight: 600;
}
.subscribe-btn {
  background-color: #e03111;
}

/* -------- media query ------------------------- */
@media only screen and (max-width: 990px) {
  .progress_bar {
    padding: 0 8em 1em 8em;
  }
}
@media only screen and (max-width: 768px) {
  .progress_bar {
    padding: 0;
    padding-bottom: 1em;
  }
}
