* {
  overflow-x: visible;
}
.subnavbar {
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.progress_bar {
  padding: 0 15em 1em 15em;
}
.progress_bar div {
  border-bottom: solid 0.3rem black;
  margin-top: -3em;
}
.progress_bar div img {
  position: relative;
  top: 3.75rem;
}
.border-here {
  border-left: solid 2px gray;
}

/* -------- media query ------------------------- */
@media only screen and (max-width: 990px) {
  .progress_bar {
    padding: 0 8em 1em 8em;
  }
  .border-here {
    border-left: solid 0 gray;
  }
}
@media only screen and (max-width: 768px) {
  .progress_bar {
    padding: 0;
    padding-bottom: 1em;
  }
}
